.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.buttons {
    margin-top: 1rem;
}
.save-button {
    margin-right: 0.3rem;
}